<?xml version="1.0" encoding="$encoding"?>
<document>

  <properties>
    <author email="turbine-maven-user@jakarta.apache.org">Maven</author>
    <title>Articles</title>
  </properties>
  
  <body>
    <section name="Todos">

      <table summary="todo summary">
      	<thead>
      	<tr>
        <th>Class</th>
        <th>Class Todos Count</th>
        <th>Method with Todos</th>
        </tr>
        </thead>
        <tbody>
        #set ($classesCount = 0)
        #foreach ($class in $docInfo.classes)
          #set ($classTodosCount = $class.getTags($jellyContext.taskTag).size() )
          #set ($methodTodosCount = 0)
          #foreach ($m in $class.methods)
            #set ($methodTodoTags = $m.getTags($jellyContext.taskTag))
            #if ($methodTodoTags.size() > 0)
              #set ($methodTodosCount = $methodTodosCount + 1 )
            #end
          #end
          #if ($classTodosCount > 0 || $methodTodosCount > 0)
            #set ($classesCount = $classesCount + 1 )
            <tr>
              <td>
                <a href="#$class.name">$class.name</a>
              </td>
              <td>
                #if ($classTodosCount > 0)
                  <a href="#$class.name">$classTodosCount</a>
                #else
                  0
                #end
              </td>
              <td>
                #if ($methodTodosCount > 0)
                  <a href="#${class.name}.methods">$methodTodosCount</a>
                #else
                  0
                #end
              </td>
            </tr>
          #end
      #end
      #if ($classesCount == 0)
        <tr>
          <td colspan="3"><em>No class or method todo found</em></td>
        </tr>
      #end
      </tbody>
      </table>
      
          #foreach ($class in $docInfo.classes)
            #set ($todoTags = $class.getTags($jellyContext.taskTag))
            #set ($hasToDoMethod = false)
            #foreach ($m in $class.methods)
              #set ($methodTodoTags = $m.getTags($jellyContext.taskTag))
              #if ($methodTodoTags.size() > 0)
                #set ($hasToDoMethod = true)
              #end
            #end
            #if ($todoTags.size() > 0 || $hasToDoMethod)
              <subsection name="$class.name">
                #if ($todoTags.size() > 0)
                  <table summary="$class.name todos">
                    <thead>
                    <tr>
                    <th>Class Todos</th>
                    </tr>
                    </thead>
                    <tbody>
                    #foreach ($tag in $todoTags)
                    <tr>
                      <td>
                        <![CDATA[$tag.value]]>
                      </td>
                    </tr>
                    #end
                    </tbody>
                  </table>
                #end
              
                #foreach ($m in $class.methods)
                  #set ($methodTodoTags = $m.getTags($jellyContext.taskTag))
                  #if ($methodTodoTags.size() > 0)
                    <table summary="${class.name} method todos">
                    <thead>
                    <tr>
                    <th><a name="${class.name}.methods">Method Todos</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    #foreach ($tag in $methodTodoTags)
                      <tr>
                        <td>
                          <![CDATA[${m.name}(): $tag.value]]>
                        </td>
                      </tr>
                    #end
                    </tbody>
                    </table>
                  #end
                #end
              </subsection>
            #end
          #end
    </section>
  </body>
</document>
